%%
%% This test configuration is used for testing ejabberd_auth_eims module
%% against a running ejabberd server

%% the Erlang node name of tested ejabberd
{ejabberd_node, 'ejabberd@localhost'}.
{ejabberd_cookie, ejabberd}.

%% the main XMPP domain served by the tested ejabberd
{ejabberd_domain, <<"localhost">>}.

%% the server host name or ip addres
{ejabberd_addr, <<"127.0.0.1">>}.
{ejabberd_metrics_rest_port, 5280}.
{ejabberd_string_format, bin}.

{ejabberd_service, <<"tg.localhost">>}.
{ejabberd_service_port, 8888}.
{ejabberd_service_password, <<"secret">>}.

{ws_host, "localhost"}.
{ws_resource, "/mdrfq"}.
{ws_port, 5443}.

{escalus_users, [
  {alice, [
    {username, <<"alice">>},
    {server, <<"localhost">>},
    {nick, <<"alice">>},
    {password, <<"alicepassword">>}
  ]},
  {bob, [
    %{auth_method, {server_eims_SUITE, auth_plain}},
    {username, <<"whale.bob">>},
    {server, <<"localhost">>},
    {nick, <<"whale.bob">>},
    {password, <<"hserv-web-app;whale.bob;refresh_token">>}]},
  {clara, [
    {username, <<"whale.clara">>},
    {server, <<"localhost">>},
    {nick, <<"whale.clara">>},
    {password, <<"hserv-web-app;whale.clara;refresh_token">>}]},
  {david, [
    {username, <<"david">>},
    {server, <<"localhost">>},
    {nick, <<"david">>},
    {password, <<"davidpassword">>}]},
  {jack, [
    {username, <<"jack">>},
    {server, <<"localhost">>},
    {nick, <<"jack">>},
    {password, <<"jackpassword">>},
    {auth_method, {server_eims_SUITE, auth_sasl_oauth}}]}

  %% for testing is needed to add to ejabberd section in sys.config
  %% {auth_eims_summary, {ejabberd_auth_eims, get_test_account_summary}}]}
]}.

{room_host, <<"conference.localhost">>}.
{eims_rooms,
  [{eims_test, [
    {name, <<"eims.test">>},
    {options, []},
    {affiliations, []}]},
   {eims_info, [
      {name, <<"infopost.test">>},
      {options, []},
      {affiliations, []}]},
   {eims_rfq, [
      {name, <<"rfq.test">>},
      {options, [{<<"allow_private_messages">>,<<"true">>},
          {<<"members_by_default">>, <<"false">>}]},
      {affiliations, []}]}
  ]}.
